---
import Layout from "../layouts/Layout.astro";
import AccesoriosItem from "../components/AccesoriosItem.astro";
import BotonArriba from "../components/BotonArriba.astro";
import BotonWhatsapp from "../components/BotonWhatsapp.astro";
---

<Layout
    title="Soluciones Informaticas EG | Accesorios"
    description="seccion de venta de accesorios y repuestos"
    keywords="discos ssd, memorias nicrosd, pendrive, teclados, mouse, etc..."
>
    <div class="bg-slate-100">
        <AccesoriosItem/>
        <BotonWhatsapp/>
        <BotonArriba/>
    </div>
</Layout>