---
import Banner from '../components/Banner.astro';
import Reparaciones from '../components/Reparaciones.astro';
import Horarios from '../components/Horarios.astro';
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/SobreMi.astro';
import Galeria from '../components/Galeria.astro';
import Testimonios from '../components/Testimonios.astro';
import BotonArriba from '../components/BotonArriba.astro';
import BotonWhatsapp from '../components/BotonWhatsapp.astro';

---

<Layout 
    title="Bienvenidos a Soluciones Informáticas EG | Inicio.",
    description="Soporte técnico y servicio técnico para PCs, teléfonos y más.",
    keywords="soporte técnico, reparación, PCs, teléfonos, servicios IT, consolas de videojuegos, desktop, computadoras, celulares"
    >
	<main>
		<Banner/>		
		<SobreMi/>		
		<Reparaciones/>
        <Galeria/>
        <Testimonios/>
		<Horarios/>
	</main>
    <BotonWhatsapp/>
    <BotonArriba/>
</Layout>


	
