
<div class="mt-2 shadow-2xl image-container">
    <img src="/banner_sm2.webp" alt="banner" class="sm:hidden">
    <img src="/5.webp" alt="" class="image hidden sm:flex">
    <div class="text-overlay">
        <h1 class="mb-3 text-lg md:text-4xl lg:text-5xl lg:mb-20">
            Servicio Tecnico y Digital <span>Soluciones Informáticas EG</span>
        </h1>
        <p class="md:text-2xl pb-5">
            En Soluciones Informáticas EG te ayudamos a resolver cualquier inconveniente de una manera ágil y cómoda, a través de una atención personalizada.
        </p>
    </div>
</div>

<style>
    .image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 60%;
    color: white;
    padding: 10px;
    text-align: center;
}
</style>