
<button class="bg-[#25D366] text-white rounded-md w-full py-1 hover:bg-green-400 font-medium shadow-xl">
    <a href="https://wa.me/message/ASYN7T656JNNF1" target="_blank" rel="noopener noreferrer">
        Enviar mensaje
      </a>
</button>

<style>
    .sombra-card {
    transition: filter 0.5s ease;
    filter: drop-shadow(0 0 .3rem rgba(46, 46, 46, 0.527));
}

.sombra-card:hover {  
    filter: drop-shadow(0 0 1rem rgb(114, 114, 114));
}
</style>