
<section class="fixed bottom-[.5rem] right-[0.5rem]">
    <div class="rounded-full">
        <a href="https://wa.me/message/ASYN7T656JNNF1" target="_blank" rel="noopener noreferrer">
            <img src="/whts_sm.webp" loading="lazy" alt="WhatsApp Icon" class="sombra-redes h-10 w-10 lg:h-12 lg:w-12 hover:scale-110 hover:transition hover:duration-300">
        </a>
    </div>
</section>

<style>

.sombra-redes:hover {
    filter: drop-shadow(0 0 0.70rem rgb(11, 201, 59));
}
    
.sombra-whatsapp {
    transition: filter 0.3s ease;
 }
</style>