
<div class="max-w-sm flex flex-col m-auto mb-20 md:max-w-xl">
    <div class="my-10 text-2xl md:text-3xl">
        <h2>
            Nuestros servicios
        </h2>
    </div>
    <div class="grid md:grid-cols-2 gap-5">
        <img src="/reparcion_01.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_02.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_03.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_04.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_05.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_06.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_07.webp" class="rounded-md shadow-xl" alt="">
        <img src="/reparcion_08.webp" class="rounded-md shadow-xl" alt="">
    </div>
</div>