
<footer class="sombra-top text-center w-full p-4 bg-[#f5f5f5] border-t border-gray-200 lg:flex lg:items-center lg:justify-between md:p-6" id="redes">
    <div class="flex my-2 items-center justify-center">
        <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer">
            <img src="/facebook_sm.webp" loading="lazy" class="hover:scale-105 hover:transition hover:duration-300" alt="logo facebook">
        </a>
        <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer">
            <img src="/instagram_sm.webp" loading="lazy" class="hover:scale-105 hover:transition hover:duration-300" alt="logo instagram">
        </a>
    </div>
    <div class="w-3/4 m-auto">
        <span class="text-sm sm:text-center">© 2024 Soluciones Informáticas EG</a>. Todos los Derechos Reservados.
        </span>
    </div>
</footer>

<style>
    .sombra-top {
        -webkit-box-shadow: 0px -7px 25px -4px rgba(173,173,173,1);
-moz-box-shadow: 0px -7px 25px -4px rgba(173,173,173,1);
box-shadow: 0px -7px 25px -4px rgba(173,173,173,1);
    }
</style>