
<section id="horarios" class="flex mb-20 shadow-xl">
    <div class="w-[100%] bg-gradient-to-r from-indigo-700 via-indigo-400 to-indigo-200 flex justify-between items-center text-white">
        <div class="py-5 px-10">
            <h2 class="text-2xl">
                Nuestros Horarios
            </h2>
            <p class="my-5 text-lg">
                Lun a Vie de 9:30hs a 20:00hs
            </p>
            <p class="my-5 text-lg">
                Sab de 10:00hs a 20:00hs
            </p>
        </div>
        <div>
            <img src="/horario_1.webp" class=" w-[100%] h-[100%]" alt="imagen horario">
        </div>
    </div>
</section>