
<section id="horarios" class="flex mb-20 shadow-xl scroll-mt-60 lg:mb-40">
    <div class="w-[100%] bg-gradient-to-r from-indigo-800 via-indigo-400 to-indigo-200 flex justify-between items-center text-white">
        <div class="py-5 px-16">
            <h2 class="text-2xl lg:text-4xl">
                Nuestros Horarios
            </h2>
            <p class="my-5 text-lg lg:text-xl">
                Lun a Vie de 9:30hs a 20:00hs
            </p>
            <p class="my-5 text-lg lg:text-xl">
                Sab de 10:00hs a 20:00hs
            </p>
        </div>
        <div>
            <img src="/horario_1.webp" class=" w-[100%] h-[100%] lg:px-20" alt="imagen horario">
        </div>
    </div>
</section>