
<nav class=" border-gray-200 sticky z-50 top-0 md:static bg-black">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2 md:py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo.webp" loading="lazy" class="w-[40px] h-[40px]" alt="Soluciones Informáticas EG logo"/>
        <span class="text-smmd:self-center md:text-xl md:font-semibold md:whitespace-nowrap dark:text-white">Soluciones Informáticas EG</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col px-0 md:p-0 mt-4 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="#reparaciones" class="block py-2 text-white rounded md:bg-transparent md:p-0 hover:text-red-700 hover:transition-colors hover:duration-300" aria-current="page">Reparaciones</a>
        </li>
        <li>
          <a href="#horarios" class="block py-2 text-white rounded md:bg-transparent md:p-0 hover:text-red-700 hover:transition-colors hover:duration-300" aria-current="page">Horarios</a>
        </li>
        <li>
          <a href="#testimonios" class="block py-2 text-white rounded md:bg-transparent md:p-0 hover:text-red-700 hover:transition-colors hover:duration-300" aria-current="page">Clientes</a>
        </li>
        <li>
          <a href="#redes" class="block py-2 text-white rounded md:bg-transparent md:p-0 hover:text-red-700 hover:transition-colors hover:duration-300" aria-current="page">Contactame</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

