
<section id="reparaciones" class="mt-20">
    <div class="max-w-sm m-auto mb-5 sm:max-w-xl">
        <h2 class="text-2xl text-center mb-5">
            Reparaciones que realizamos en Soluciones Informáticas EG
        </h2>
        <p class="p-5 md:text-lg md:text-center">
            No dudes en contactarnos para cualquier problema técnico con tu PC o Telefono. Ofrecemos un servicio completo de soporte técnico, incluyendo reparación de hardware, optimización de software, eliminación de virus y más. 
        </p>
    </div>
    <div class="py-20 md:grid md:grid-cols-2 md:gap-5 md:px-5 lg:w-[75%] lg:m-auto xl:w-[50%]">
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
                <img class="m-auto w-[256px] h-[256px]" src="/laptop.webp" loading="lazy" alt="Imagen Notebook"/>
            <div class="p-5">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Reparación de Notebooks</h2>
                <p class="mb-3 font-normal text-gray-500 md:text-lg">"¿Tu notebook está presentando problemas? Con mi experiencia en reparación de notebooks, puedo ayudarte a solucionar cualquier inconveniente, ya sea de hardware o software. Trabajo de manera rápida y eficiente para que puedas volver a utilizar tu equipo sin interrupciones."</p>
            </div>
        </div>
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
                <img class="m-auto w-[256px] h-[256px]" src="/mobile.webp" loading="lazy" alt="Imagen Celular" />
            <div class="p-5">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Reparación de Telefonos</h2>
                <p class="mb-3 font-normal text-gray-500 md:text-lg">"¿Se te cayo el celular, tiene la pantalla rota o presenta fallos? Mi servicio de reparación de celulares cubre desde cambios de pantalla hasta problemas de software. Confía en mí para devolverle la vida a tu dispositivo y mantenerte conectado."</p>
            </div>
        </div>
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
                <img class="m-auto w-[256px] h-[256px]" src="/sitios_sm.webp" loading="lazy" alt="Imagen creacion de sitios web" />
            <div class="p-5">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Creacion de Sitios Web</h2>
                <p class="mb-3 font-normal text-gray-500 md:text-lg">"¿Necesitas un sitio web atractivo y funcional? Me especializo en la creación y mantenimiento de sitios web personalizados que se adaptan a tus necesidades. Desde la optimización para móviles hasta la implementación de comercio electrónico, estoy aquí para llevar tu presencia en línea al siguiente nivel."</p>
            </div>
        </div>
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
                <img class="m-auto w-[256px] h-[256px]" src="/escritorio.webp" loading="lazy" alt="Imagen Pc" />
            <div class="p-5">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Reparación de Pc de Escritorio</h2>
                <p class="mb-3 font-normal text-gray-500 md:text-lg">"¿La compu de escritorio no funciona como antes? Ofrezco un servicio de reparación integral para PCs de escritorio, abordando todo tipo de problemas, desde actualizaciones de hardware hasta eliminación de virus. Conmigo, tu equipo estará en perfectas condiciones en poco tiempo."</p>
            </div>
        </div>
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
            <img class="m-auto w-[256px] h-[256px]" src="/datos.webp" loading="lazy" alt="Imagen backup datos" />
        <div class="p-5">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Recuperacion y Backup de datos</h2>
            <p class="mb-3 font-normal text-gray-500 md:text-lg">"La sección de recuperación y backup de datos asegura la protección y disponibilidad de la información. Incluye prácticas para realizar copias de seguridad, restaurar datos de forma eficiente, y realizar pruebas del dispositivo para encontrar futuras fallas."</p>
        </div>
    </div>
        <div class="max-w-sm m-auto bg-white border border-gray-100 rounded-lg shadow-xl my-10 sm:max-w-lg">
            <div class="flex">
                <img class="m-auto w-[256px] h-[256px]" src="/logo_play.webp" loading="lazy" alt="logo playstation" />
            </div>
        <div class="p-5">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 md:mb-5">Reparacion de Consolas Videojuegos</h2>
            <p class="mb-3 font-normal text-gray-500 md:text-lg">"La reparación de consolas de videojuegos se enfoca en diagnosticar y solucionar problemas técnicos comunes, como fallos en el hardware, sobrecalentamiento, o problemas de conectividad. También incluye la sustitución de piezas defectuosas y el mantenimiento preventivo para prolongar la vida útil de la consola, garantizando un rendimiento óptimo y una experiencia de juego sin interrupciones."</p>
        </div>
    </div>
    </div>
</section>

