
<article class="max-w-sm m-auto text-center mt-20 mb-40 border-b-[1px] sm:max-w-xl md:text-lg lg:text-xl lg:max-w-4xl">
    <p class="pb-10">
        Soy Enrique Ginfeu creador de Soluciones Informáticas EG y brindo soporte técnico de Pc/Notebooks y teléfonos moviles, además de crear sitios web. Con una amplia experiencia en la resolución de problemas técnicos y el desarrollo de soluciones digitales, Tambien me dedico a brindar un servicio de calidad que se adapta a las necesidades específicas de cada cliente.
    </p>
</article>