
<article class="max-w-sm m-auto text-center mt-28 border-b-[1px] ">
    <p class="p-5 my-5">
        Soy Enrique Ginfeu creador de Soluciones Informáticas EG y me especializo en brindar soporte técnico de PC y teléfonos, además de ser un creador de sitios web. Con una amplia experiencia en la resolución de problemas técnicos y el desarrollo de soluciones digitales, Tambien me dedico a brindar un servicio de calidad que se adapta a las necesidades específicas de cada cliente. Ya sea solucionando problemas de hardware y software o diseñando sitios web funcionales y atractivos, Me comprometo a ofrecerte un servicio confiable y eficiente.
    </p>
</article>